<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CISCO pxGrid - Application Settings</title>
  <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="static/application_settings.css"/>
  <link rel="stylesheet" href="static/css/sb-admin.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"><img src='static/images/logo.png' width="60" />&nbsp;</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>
  <div class="container">
    <form action="" id="app-settings">
    </form>
    <input type="hidden" id="csrf_token" value="{{ csrf_token() }}"/>
  </div>
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="static/application_settings.js"></script>
  <script src="static/vendor/jquery-validation/jquery.validate.min.js"></script>
</body>
</html>
