<style>
	
</style>
<div class="row">
	<!--<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Manufacturer</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmManufacturer"></canvas>
			</div>
		</div>
	</div>-->
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Compliance</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<div id="mdmCompliance" width="100" height="53"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Registration</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<div id="mdmRegistration" width="100" height="53"></div>
			</div>
		</div>
	</div>
</div>
<!--<div class="row">
	
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Location</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmLocation"></canvas>
			</div>
		</div>
	</div>
</div>-->
<!--<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Jail Broken</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmJailBroken"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Pin Locked</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmPinLocked"></canvas>
			</div>
		</div>
	</div>
</div>-->
<script src="static/js/mdm-charts.js"></script>