<style>
	
</style>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">User (All)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="passedUser"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">User (Wired)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="passedUserWired"></canvas>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">User (Wireless)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="passedUserWireless"></canvas>
			</div>
		</div>
	</div>
</div>
	<!-- <div class="col-lg-4">
	  <div class="card mb-3">
		<div class="card-header">Device Type</div>
		<div class="card-body card-body-min-height card-body-min-padding-all">
			<ul class="nav nav-underline">
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#passedLocationWired">Wired </a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link active" role="tab" data-toggle = "tab" href="#passedLocationWireless">Wireless</a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#passedLocationVirtual">Virtual</a>
			  </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade" id="passedLocationWired">
					<div id="passedLocationWiredChart" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade in active" id="passedLocationWireless">
					<div id="passedLocationWirelessChart" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade" id="passedLocationVirtual">
					<div id="passedLocationVirtualChart" width="100" height="53"></div>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="col-lg-4">
	</div> -->
</div>
<script src="static/js/passed-auth-charts.js"></script>