<table>
    <tr><td>User Name: </td><td>{{username}}</td></tr>
    <tr><td>Mac Address: </td><td>{{macaddress}}</td></tr>
    <tr><td>Posture Status: </td><td>{{posturestatus}}</td></tr>
    <tr><td>Endpoint Profile: </td><td>{{endpoint}}</td></tr>
</table>
