<style></style>
<div class="row">
	<div class="col-lg-12">
	    <div class="card mb-3">
			<div class="card-header">Currently Assigned ANC policy</div>
			<div class="card-body padding-bottom-zero">
				<table class="table table-bordered nowrap" id="ancPolicyDisplay" width="100%" cellspacing="0">
							
				</table>
			</div>
		</div>
	</div>
</div>

<script src="static/js/ancmacpolicydetails.js"></script>