<style>

</style>
<div class="row">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Compliance (All)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="complianceSession"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Compliance (Wired)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="complianceSessionWired"></canvas>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header">Compliance (Wireless)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="complianceSessionWireless"></canvas>
			</div>
		</div>
	</div>
</div>
<!-- <script src="static/js/complaince-tables.js"></script> -->
<script src="static/js/complaince-charts.js"></script>