<style>

</style>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">EndProfile (All)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="endProfile"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">EndProfile (Wired)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="endProfileWired"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">EndProfile (Wireless)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="endProfileWireless"></canvas>
			</div>
		</div>
	</div>
</div>
<!-- <script src="static/js/devices-tables.js"></script> -->
<script src="static/js/devices-charts.js"></script>