
<style>

</style>
<div class="row">
	<div class="col-lg-6">
	  <div class="card mb-3">
		<div class="card-header">User</div>
		<div class="card-body card-body-min-height card-body-min-padding-all">
			<ul class="nav nav-underline">
			  <li class="nav-item">
				<a class="nav-link active" role="tab" data-toggle = "tab" href="#failedUserTab">All </a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedUserWiredTab">Wired</a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedUserWirelessTab">Wireless</a>
			  </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active card-body-very-min-height" id="failedUserTab">
					<canvas id="failedUser"></canvas>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedUserWiredTab">
					<canvas id="failedUserWired"></canvas>
				</div>
				<div class="tab-pane fadecard-body-very-min-heightt" id="failedUserWirelessTab">
					<canvas id="failedUserWireless"></canvas>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="col-lg-6">
	  <div class="card mb-3">
		<div class="card-header">Failure Reason</div>
		<div class="card-body card-body-min-height card-body-min-padding-all">
			<ul class="nav nav-underline">
			  <li class="nav-item">
				<a class="nav-link active" role="tab" data-toggle = "tab" href="#failedReasonTab">All </a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedReasonWiredTab">Wired</a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedReasonWirelessTab">Wireless</a>
			  </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active card-body-very-min-height" id="failedReasonTab">
					<div id="failedReason" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedReasonWiredTab">
					<div id="failedReasonWired" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedReasonWirelessTab">
					<div id="failedReasonWireless" width="100" height="53"></div>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	  <div class="card mb-3">
		<div class="card-header">Device Type</div>
		<div class="card-body card-body-min-height card-body-min-padding-all">
			<ul class="nav nav-underline">
			  <li class="nav-item">
				<a class="nav-link active" role="tab" data-toggle = "tab" href="#failedDeviceTypeTab">All </a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedDeviceTypeWiredTab">Wired</a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedDeviceTypeWirelessTab">Wireless</a>
			  </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active card-body-very-min-height" id="failedDeviceTypeTab">
					<div id="failedDeviceType" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedDeviceTypeWiredTab">
					<div id="failedDeviceTypeWired" width="100" height="53"></div>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedDeviceTypeWirelessTab">
					<div id="failedDeviceTypeWireless" width="100" height="53"></div>
				</div>
			</div>
		</div>
	  </div>
	</div>
	<div class="col-lg-6">
	  <div class="card mb-3">
		<div class="card-header">Location</div>
		<div class="card-body card-body-min-height card-body-min-padding-all">
			<ul class="nav nav-underline">
			  <li class="nav-item">
				<a class="nav-link active" role="tab" data-toggle = "tab" href="#failedLocationTab">All </a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedLocationWiredTab">Wired</a>
			  </li>&nbsp;&nbsp;
			  <li class="nav-item">
				<a class="nav-link" role="tab" data-toggle = "tab" href="#failedLocationWirelessTab">Wireless</a>
			  </li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active card-body-very-min-height" id="failedLocationTab">
					<canvas id="failedLocation"></canvas>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedLocationWiredTab">
					<canvas id="failedLocationWired"></canvas>
				</div>
				<div class="tab-pane fade card-body-very-min-height" id="failedLocationWirelessTab">
					<canvas id="failedLocationWireless"></canvas>
				</div>
			</div>
		</div>
	  </div>
	</div>
</div>
<script src="static/js/failed-auth-charts.js"></script>