<style>
	
</style>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Manufacturer</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmOfflineManufacturer"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Compliance</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<div id="mdmOfflineCompliance" width="100" height="53"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Registration</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<div id="mdmOfflineRegistration" width="100" height="53"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Location</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmOfflineLocation"></canvas>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Jail Broken</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmOfflineJailBroken"></canvas>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
	    <div class="card mb-3">
			<div class="card-header">Pin Locked</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="mdmOfflinePinLocked"></canvas>
			</div>
		</div>
	</div>
</div>
<script src="static/js/mdm-offline-charts.js"></script>