<style>

</style>
<div class="row">
	<div class="col-lg-6">
	  	<div class="card mb-3">
			<div class="card-header">Group Tag (All)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="trustsecGroup"></canvas>
			</div>
	    </div>
	</div>
	<div class="col-lg-6">
	  	<div class="card mb-3">
			<div class="card-header">Group Tag (Wired)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="trustsecGroupWired"></canvas>
			</div>
	    </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	  	<div class="card mb-3">
			<div class="card-header">Group Tag (Wireless)</div>
			<div class="card-body card-body-min-height padding-bottom-zero">
				<canvas id="trustsecGroupWireless"></canvas>
			</div>
	    </div>
	</div>
</div>	
<!-- <script src="static/js/trustsec-tables.js"></script> -->
<script src="static/js/trustsec-charts.js"></script>