body {
  /*background-color: #3f3f3f08;*/
  background-color: #ffffff;
  /*margin-top:20px;*/
}
.container{
	background-color: #ffffff;
  margin-top:45px;
  max-width: 900px;
}
.logo {
  height: 40px;
  width: 260px !important;
}

.checkbox-label {
  margin-right: 20px;
}

.radio-inline {
  margin-left: 20px;
}
.error{
	font-size:13px;
	font-weight:normal;
	float: left;
	color: red;
}
.navbar{
  padding: 0rem !important;
}
.navbar-brand{
  padding-top: 0rem !important;
}
.mandatoryIcon {
  color:#d00;
}